<div class="container">
    <div class="mt-5">
        <h3 class="pt-3">Discussion Topic</h3>
<p class="mt-4"><strong>Title: <%= @topic.title %></strong></p>
<p><strong>Created by: <%= @topic.topic_creator.username.capitalize %></strong></p>


<% if policy(@topic).edit? && policy(@topic).destroy?  %>
    <div>
<%= link_to "🖋", edit_campaign_topic_path(@campaign,@topic),id:"action_edit" %><%= link_to "🗑", campaign_topic_path(@campaign,@topic),id:"action_delete", method: :delete,
                  data: { confirm: "Are you sure?" } %>

</div>
<% end %>


<div class="mt-5"><h5>Comments: <%= @topic.comments.count %></h5></div>

<div class="container my-3 pb-4">


</div>

<%= render @topic.comments %>

<div class="row my-4 ">
<%= render 'comments/form', locals: {commentable: @topic, type:"Topic"} %>
</div>
</div>
</div>

</div>

