<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   
  <% if signed_in? %>
  <ul class="nav justify-content-center">

  <li class="nav-item">
    <%= link_to :Home, root_path,class:'nav-link' %> 
  </li>
  <li class="nav-item">
    <%= link_to :Account, current_user, class:'nav-link'%> 
  </li>
  <% if current_user.type=="Expert" %>
  <li class="nav-item">
    <%= link_to :Novices, :novices, class:'nav-link'%>
  </li>
  <li class="nav-item">
    <%= link_to :Experts, :experts,class:'nav-link'%>  
  </li>
  <% end %>
  
  <li class="nav-item">
  <%= link_to "Logout", destroy_user_session_path, method: :delete ,class:'nav-link'%>
  </li>

</ul>

<% end %>
    <%= yield %>
  </body>
</html>
